@charset "utf-8";
* { margin:0; padding:0; }
body {background:#fff;}
ol, ul {list-style:none;}
.app-main {padding:20px;}
@media screen and (min-width: 600px) {
 .app-main {padding:20px; width:360px; margin:50px auto 0 auto; border:1px solid #000;}
}
h1 {border-bottom:2px solid #000;}
.new input[type=text] {width:80%; padding:5px 5px;}
.new button {height:30px; vertical-align:middle;}
section.task {padding:20px 0; border-bottom: 2px dotted #999;}
footer {text-align:center; padding-top:10px;}
.task li {position:relative; padding:5px; margin-bottom:5px; background:#efefef;}
.task li button {float:right; vertical-align:middle;}
.task input[type=checkbox] {width:24px; height:24px; vertical-align:middle;}
.task.done span {text-decoration:line-through; color:#999;}

