<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title> ToDo </title>
  <link rel="stylesheet" href="css/todo.css">
</head>
<body>
  <div class="app-main">
    <header>
      <h1>To Do</h1>
    </header>
    
    <section class="task new">
      <input type="text" name="subject" id="subject">
      <button id="add-task" onclick="todos.add(document.getElementById('subject').value);">추가</button>
    </section>
    
    <section class="task active">
      <h3>진행 중</h3>
      <ol id="active-list">
        <script id="tpl-task-list" type="text/x-template" data-wrap-tag="li">
          <input type="checkbox"> <span>{{task}}</span><button class="delete">X</button>
        </script>
      </ol>
    </section>
    
    <section class="task done">
      <h3>완료</h3>
      <ol id="done-list">
      </ol>
    </section>
    
    <footer>
      #project-todo v.0.0.1 by oliverne
    </footer>
  </div>
  
  <script src="js/app.js"></script>
</body>
</html>
